<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/headerNavbar") %>
    <!-- ************** SHOW PRODUCTS ********************* -->
    <section class="show-product-container">
      <div class="show-product">
        <!-- ------------------------------- -->
        <div class="show-product-text">
          <h4>Nombre del producto</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="carrousel-product-img">
          <img src="/imgs/productos-img/<%= product.image %> " alt="" />
          <img src="/imgs/productos-img/<%= product.image %> " alt="" />
          <img src="/imgs/productos-img/<%= product.image %> " alt="" />
        </div>
        <div class="desktop-product-view">
          <div class="more-views"></div>
          <div class="principal-view"></div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="price-info">
          <% if (product.discount){ %>

          <p class="product-detail-price small">
            <del>$<%= getPrice(product) %></del>
            /
            <b><%= getDiscount(product) %>% OFF</b>
          </p>
          <h2 class="price">$<%= getFinalPrice(product) %></h2>
          <% } else{ %>
          <h2 class="price">$<%= getFinalPrice(product) %></h2>
          <% } %>

          <span class="options-pay">
            <% if (product.pays) { %>
            <p>Paga en cuotas</p>
            <h5 class="cuotas">
              <%= getPays(product) %> x $<%= getPaysPrice(product) %>
            </h5>
            <% } %>
          </span>
          <div class="envio">
            <% if (product.sendFree == "true" && product.sendToDay == "true") {
            %>
            <p>Llega gratis <span>HOY</span> 🎉</p>

            <% } else if(product.sendToDay == "false" && product.sendFree ==
            "true"){%>

            <p>Llega gratis en <span>3 días hábiles</span> ⌛</p>

            <%}else if(product.sendToDay == "true" && product.sendFree ==
            "false"){%>

            <p>El costo de envío es de $2500 llega <span>HOY</span> 💵</p>

            <%}else{%>
            <p>
              El costo de envío es de $2500 llega <span>3 días hábiles</span> 🤝
            </p>
            <%}%>
          </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="description">
          <p><%= product.description %></p>
          <h4>características Principales</h4>
          <ul>
            <li>Una característica</li>
            <li>Una característica</li>
            <li>Una característica</li>
            <li>Una característica</li>
          </ul>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="buttons-options">
          <div class="buy">
            <div class="cantidad-container button flex">
              <label for="cantidad-de-articulos">Cantidad </label>
              <select
                class="select"
                name="cantidad-de-articulos"
                id="cantidad-de-articulos"
              >
                <option value="1">1</option>
                <option value="1">2</option>
              </select>
            </div>

            <button class="button" type="submit">Comprar</button>
          </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
      </div>
    </section>
    <!-- ************** SHOW PRODUCTS ********************* -->
    <%- include("../partials/footer") %>
  </body>
</html>
