<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <%- include("../partials/headerNavbar") %>
    <main>
      <div>
        <% products.forEach(product => { %>

        <div class="items crea-container container-main">
          <img src="/imgs/productos-img/<%= product.image %> " alt="" />
          <div>
            <button class="container-button">
              <a href="/products/edit/<%= product.id%>">Editar Producto</a>
            </button>
            <form
              action="/products/delete/<%= product.id%>?_method=DELETE"
              method="POST"
            >
              <button class="container-button">Borrar Producto</button>
            </form>
          </div>
        </div>
        <% }) %>
      </div>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
