<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <section
        class="category_container justify-c-c margin-1 box-shadow padding-1 image"
      >
        <% category.product.forEach(game => { %>
        <a href="/product/showProduct/<%= game.id %>">
          <article class="item bor-1 contenedor-pp">
            <img
              src="<%= game.image %>"
              alt="<%= game.name %>"
              class="img-pp bor-1"
            />
            <p class="txt-pp">$<%= game.price %></p>
          </article>
        </a>
        <% }) %>
      </section>
    </main>
    <%- include("../partials/footer.ejs")%>
  </body>
</html>
