<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section
        class="category_container justify-c-c margin-1 box-shadow padding-1 image"
      >
        <% category.product.forEach(game => { %>
        <article class="item bor-1">
          <img
            src="<%= game.image %>"
            alt="<%= game.name %>"
            class="maxw bor-1"
          />
        </article>
        <% }) %>
      </section>
    </main>
    <%- include('./partials/footer.ejs')%>
  </body>
</html>
