<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <!-- Juego del Año -->
      <section class="container-section padding-1 image box-shadow">
        <!-- <h1 class="margin-b">Juego del Año</h1> -->
        <div class="container-juego">
          <div class="titulo-juego-año">
            <h2 class="titulo-año">Juego del Año</h2>
          </div>
          <div class="carrusel">
            <div class="carrusel-items">
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
              <div class="carrusel-item">
                <img src="/images/elden-ring.jpg" alt="" />
              </div>
            </div>
          </div>
          </div>
        </div>
      </section>
      <!-- Juegos destacados -->
      <section class="container-section scroll padding-1 box-shadow">
        <h2 class="margin-b texto-h2 text-align-c">Juegos Destacados</h2>
        <div class="flex gap">
          <% product.forEach((game, i) => { %> <% if (i < 5) { %>
          <article>
            <a href="/product/showProduct/<%= game.id %>">
              <img
                src="<%= game.image %>"
                alt=""
                class="maxw bor-10 box-shadow"
              />
            </a>
          </article>
          <% } %> <% }) %>
        </div>
      </section>
      <!-- Categorias -->
      <section class="category container-section scroll padding-1 box-shadow">
        <h2 class="margin-b texto-h2 text-align-c">Categorias Destacadas</h2>
        <div class="scroll-container flex gap justify-c-e">
          <% product.forEach((game, i ) => { i++ %> <% if (i < 5 ) { %>
          <article class="card flex w-22 h-5 bor-1 box-shadow">
            <a href="/product/showCategory/<%= game.category.id %>">
              <i class="<%= game.category.icon %>"></i>
              <h5><%= game.category.name %></h5>
            </a>
          </article>
          <% } %> <% }) %>
        </div>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
    <script src="/js/juego-año.js"></script>
  </body>
</html>
