<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/headerNavbar") %>
    <main>
      <!-- ************** BANNER ********************* -->

      <div class="banner">
        <img
          src="/imgs/carrusel/renova hogar.jpg"
          alt="ofertas"
          class="banner__img"
        />
      </div>
      <!-- ************** BANNER ********************* -->

      <!-- --------------------------------------------- -->

      <!-- ************** HISTORIAS ********************* -->
      <section class="news__container">
        <article class="news">
          <!-- <h3 class="news-title">Categorías mas vistas</h3> -->
          <div class="scroller">
            <a href="#" class="scroller-item"
              ><img
                src="/imgs/productos-img/img-macbook-pro-2019.jpg"
                alt=""
                class="historias__img"
              />
              <div class="capa">
                <h6>laptops</h6>
              </div>
            </a>

            <a href="#" class="scroller-item"
              ><img
                src="/imgs/productos-img/img-macbook-pro-2019.jpg"
                alt=""
                class="historias__img"
              />
              <div class="capa">
                <h6>celulares</h6>
              </div>
            </a>

            <a href="#" class="scroller-item"
              ><img
                src="/imgs/productos-img/img-macbook-pro-2019.jpg"
                alt=""
                class="historias__img"
              />
              <div class="capa">
                <h6>audio</h6>
              </div>
            </a>

            <a href="#" class="scroller-item"
              ><img
                src="/imgs/productos-img/img-macbook-pro-2019.jpg"
                alt=""
                class="historias__img"
              />
              <div class="capa">
                <h6>gaming</h6>
              </div>
            </a>

            <a href="#" class="scroller-item"
              ><img
                src="/imgs/productos-img/img-macbook-pro-2019.jpg"
                alt=""
                class="historias__img"
              />
              <div class="capa">
                <h6>electro</h6>
              </div>
            </a>

            <a href="#" class="scroller-item"
              ><img
                src="/imgs/productos-img/img-macbook-pro-2019.jpg"
                alt=""
                class="historias__img"
              />
              <div class="capa">
                <h6>deporte</h6>
              </div>
            </a>
          </div>
        </article>
      </section>
      <!-- ************** HISTORIAS ********************* -->

      <!-- --------------------------------------------- -->

      <!-- ************** CARROUSEL DE PRODUCTOS ********************* -->
      <section class="products">
        <h2 class="title-products">Lo mas visto</h2>
        <section class="container">
          <!-- ================================================================================================= -->
          <% visitedProducts.forEach(product => { %>
          <!--  -->
          <%-include("./partials/product-card", { product })%>
          <!--  -->
          <% }) %>
          <!-- ================================================================================================= -->
        </section>

        <!-- ==================================================================== -->
        <h2 class="title-products">Te puede interesar</h2>
        <section class="container">
          <% ofertProducts.forEach(product => { %>
          <!--  -->
          <%-include("./partials/product-card", { product })%>
          <!--  -->
          <% }) %>
        </section>
      </section>
      <!-- ************** CARROUSEL DE PRODUCTOS ********************* -->

      <!-- --------------------------------------------- -->

      <!-- ************** BENEFICIOS CASHBACK ********************* -->
      <section class="benefits-cashback-container">
        <div class="benefit-banner bg_animado">
          Canjea tu CASHBACK por beneficios
        </div>
        <div class="benefit-container">
          <div class="show-benefit">
            <a href="#"
              ><img src="/imgs/carrusel/ofertas.jpg" alt="" class="benefit-img"
            /></a>
          </div>
          <div class="show-benefit">
            <a href="#"
              ><img src="/imgs/carrusel/ofertas.jpg" alt="" class="benefit-img"
            /></a>
          </div>
          <div class="show-benefit">
            <a href="#"
              ><img src="/imgs/carrusel/ofertas.jpg" alt="" class="benefit-img"
            /></a>
          </div>
        </div>
      </section>
      <!-- ************** BENEFICIOS CASHBACK ********************* -->

      <!-- --------------------------------------------- -->
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
