<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>Login Market Place</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="banner">
        <img
          src="/imgs/carrusel/renova hogar.jpg"
          alt="ofertas"
          class="banner__img"
        />
      </div>
      <section class="news__container">
        <article class="news">
          <h3 class="news-title">Ofertas</h3>
          <div class="scroller">
            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
              />
            </a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>
          </div>
        </article>
      </section>
      <section class="main-product">
        <section class="section-product">
          <h2 class="title-product">Categoria</h2>
          <div class="contain-product">
            <% productos.forEach(elProducto => { %>
              <article class="product">
                <a href="/product/<%= elProducto.id %> ">
                  <img class="img-product" src="<%= elProducto.img %>" alt="<%= elProducto.alt %>">
                </a>
      
              
              <div class="info-product">
                <h3 class="nom-product"><%= elProducto.nombre %></h3>
                <p class="ofert-product"><%= elProducto.oferta %>></p>
                <p class="precio-product">$<%= elProducto.precio%></p>
      
              </div>
            </article>
             
            <% }) %>
            
          </div>
        </section>
        
        <section class="section-product">
          <h2 class="title-product">Categoria</h2>
          <div class="contain-product">
            <% productos.forEach(elProducto => { %>
              <article class="product">
                <a href="/product/<%= elProducto.id %> ">
                  <img class="img-product" src="<%= elProducto.img %>" alt="<%= elProducto.alt %>">
                </a>
      
              
              <div class="info-product">
                <h3 class="nom-product"><%= elProducto.nombre %></h3>
                <p class="ofert-product"><%= elProducto.oferta %>></p>
                <p class="precio-product">$<%= elProducto.precio%></p>
      
              </div>
            </article>
             
            <% }) %>
        </section>
      </section>
    </main>
    <!-- ************** BENEFICIOS CASHBACK ********************* -->
    <section class="benefits-cashback-container">
      <div class="benefit-banner bg_animado">
        Canjea tu CASHBACK por beneficios
      </div>
      <div class="benefit-container">
        <div class="show-benefit">
          <a href="#"
            ><img
              src="./imgs/carrusel/ofertas.jpg"
              alt=""
              class="benefit-img"
          /></a>
        </div>
        <div class="show-benefit">
          <a href="#"
            ><img
              src="./imgs/carrusel/ofertas.jpg"
              alt=""
              class="benefit-img"
          /></a>
        </div>
        <div class="show-benefit">
          <a href="#"
            ><img
              src="./imgs/carrusel/ofertas.jpg"
              alt=""
              class="benefit-img"
          /></a>
        </div>
      </div>
    </section>
    <!-- ************** BENEFICIOS CASHBACK ********************* -->

    <!-- --------------------------------------------- -->

    <!-- ************** SHOW PRODUCTS ********************* -->
    <section class="show-product-container">
      <div class="show-product">
        <!-- ------------------------------- -->
        <div class="show-product-text">
          <h4>Nombre del producto</h4>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="carrousel-product-img">
          <img src="./imgs/productos/img-samsung-galaxy-s10.jpg" alt="" />
          <img src="./imgs/productos/img-samsung-galaxy-s10.jpg" alt="" />
          <img src="./imgs/productos/img-samsung-galaxy-s10.jpg" alt="" />
        </div>
        <div class="desktop-product-view">
          <div class="more-views"></div>
          <div class="principal-view"></div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="price-info">
          <h2 class="price">$99.999,99</h2>
          <span class="options-pay">
            <h5 class="cuotas">en 12x $99.999,99</h5>
            <p>Ver medios de pago</p>
          </span>
          <div class="envio">
            <p>Llega gratis <span>hoy</span> 🎉</p>
          </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
            porro doloribus sequi reiciendis molestiae suscipit dolores
            debitis dolorem, repudiandae autem cupiditate ut cum architecto
            amet aspernatur mollitia sapiente? In, veritatis?
          </p>
          <h4>características Principales</h4>
          <ul>
            <li>Una característica</li>
            <li>Una característica</li>
            <li>Una característica</li>
            <li>Una característica</li>
          </ul>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
        <div class="buttons-options">
          <div class="buy">
            <div class="cantidad-container button flex">
              <label for="cantidad-de-articulos">Cantidad </label>
              <select
                class="select"
                name="cantidad-de-articulos"
                id="cantidad-de-articulos"
              >
                <option value="1">1</option>
                <option value="1">2</option>
              </select>
            </div>

            <button class="button" type="submit">Comprar</button>
          </div>
        </div>
        <!-- ------------------------------- -->
        <!-- ------------------------------- -->
      </div>
    </section>
    <!-- ************** SHOW PRODUCTS ********************* -->
  </main>

    <%- include("./partials/footer") %>
  </body>
</html>
