<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>

    <title>Login Market Place</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="banner">
        <img
          src="/imgs/carrusel/renova hogar.jpg"
          alt="ofertas"
          class="banner__img"
        />
      </div>
      <section class="news__container">
        <article class="news">
          <h3 class="news-title">Ofertas</h3>
          <div class="scroller">
            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
              />
            </a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>

            <a href="#" class="scroller-item" target="_blank"
              ><img
                src="/imgs/productos/img-macbook-pro-2019.jpg"
                alt="oferta de categoría"
                class="historias__img"
            /></a>
          </div>
        </article>
      </section>
      <section class="main-product">
        <section class="section-product">
          <h2 class="title-product">Categoria</h2>
          <div class="contain-product">
            <% productos.forEach(elProducto => { %>
              <article class="product">
                <a href="/product/<%= elProducto.id %> ">
                  <img class="img-product" src="<%= elProducto.img %>" alt="<%= elProducto.alt %>">
                </a>
              <div class="info-product">
                <h3 class="nom-product"><%= elProducto.nombre %></h3>
                <p class="ofert-product"><%= elProducto.oferta %>></p>
                <p class="precio-product">$<%= elProducto.precio%></p>
      
              </div>
            </article>
             
            <% }) %>
            
          </div>
        </section>
        
        <section class="section-product">
          <h2 class="title-product">Categoria</h2>
          <div class="contain-product">
            <% productos.forEach(elProducto => { %>
              <article class="product">
                <a href="/product/<%= elProducto.id %> ">
                  <img class="img-product" src="<%= elProducto.img %>" alt="<%= elProducto.alt %>">
                </a>
      
              
              <div class="info-product">
                <h3 class="nom-product"><%= elProducto.nombre %></h3>
                <p class="ofert-product"><%= elProducto.oferta %>></p>
                <p class="precio-product">$<%= elProducto.precio%></p>
      
              </div>
            </article>
             
            <% }) %>
        </section>
      </section>
    </main>
    <!-- ************** BENEFICIOS CASHBACK ********************* -->
    <section class="benefits-cashback-container">
      <div class="benefit-banner bg_animado">
        Canjea tu CASHBACK por beneficios
      </div>
      <div class="benefit-container">
        <div class="show-benefit">
          <a href="#"
            ><img
              src="./imgs/carrusel/ofertas.jpg"
              alt=""
              class="benefit-img"
          /></a>
        </div>
        <div class="show-benefit">
          <a href="#"
            ><img
              src="./imgs/carrusel/ofertas.jpg"
              alt=""
              class="benefit-img"
          /></a>
        </div>
        <div class="show-benefit">
          <a href="#"
            ><img
              src="./imgs/carrusel/ofertas.jpg"
              alt=""
              class="benefit-img"
          /></a>
        </div>
      </div>
    </section>
    <!-- ************** BENEFICIOS CASHBACK ********************* -->

    
  </main>

    <%- include("./partials/footer") %>
  </body>
</html>
