<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Product Market Place</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main class="color">
      <% productos.forEach(producto => { %> <% if (id == producto.id) { %>
      <div class="container">
        <div class="product-f flex flex-d-column text-center mt-3 ml-1 mr-1">
          <div class="flex justify-content-sp-bt w-90">
            <h2 class="font-weight-precio"><%= producto.nombre %></h2>
            <div class="stars text-left ml-1">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="full-container">
            <div class="images none border-r-5">
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %> " class="w-50 border-r-10 img" />
              </div>
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %>" class="w-50 border-r-10 img" />
              </div>
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %>" class="w-50 border-r-10 img" />
              </div>
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %>" class="w-50 border-r-10 img" />
              </div>
            </div>
            <div class="img-s mt-1 flex align-center justify-content-sp-ar">
              <i class="fa-solid fa-arrow-left arrow-size"></i>
              <img
                src="<%= producto.img %>"
                class="w-90 mb-1 border-r-5 img-product-product"
              />
              <i class="fa-solid fa-arrow-right arrow-size"></i>
            </div>
          </div>
        </div>
        <div class="container-dos">
          <div class="opciones">
            <div class="precio flex flex-d-column">
              <h3 class="w-90 font-weight-precio">$<%= producto.precio %></h3>
              <p class="w-90 font-weight">En 12 cuotas de</p>
            </div>
            <div class="categoria none">
              <h2 class="font-weight-precio">Opciones:</h2>
              <div class="option-1">
                <label for="ram" class="color-label font-weight">RAM:</label>
                <select name="ram">
                  <option value="8gb">8gb</option>
                  <option value="16gb">16gb</option>
                  <option value="32gb">32gb</option>
                </select>
              </div>
              <div class="option-2">
                <label for="cpu" class="color-label font-weight"
                  >Procesador:</label
                >
                <select name="cpu">
                  <option value="i3">Intel i3</option>
                  <option value="i5">Intel i5</option>
                  <option value="i7">Intel i7</option>
                </select>
              </div>
              <div class="option-3">
                <label for="color" class="color-label font-weight"
                  >Color:</label
                >
                <select name="color">
                  <option value="gris">Gris</option>
                  <option value="blanca">Blanca</option>
                  <option value="negra">Negra</option>
                </select>
              </div>
            </div>
            <div class="ammount flex flex-d-column mt-1 mr-1 ml-1 text-center">
              <h2 class="font-weight-precio">Cantidad</h2>
              <div
                class="justify-content-center ammount-f flex justify-content-sp-ev align-center mb-1 ml-6 mr-6"
              >
                <i class="fa-solid fa-plus resta-suma"></i>
                <!-- Esto se cambia por un input type number para darle funcionalidad -->
                <p>1</p>
                <i class="fa-solid fa-minus resta-suma"></i>
              </div>
            </div>
            <div class="envio none">
              <h2 class="font-weight-precio">Envios</h2>
              <div class="cp">
                <h3 class="font-weight">Codigo Postal:</h3>
                <input type="text" id="cp" placeholder="Tu codigo postal..."
                required maxlength="4" " />
                <label class="size-label font-weight"
                  ><a
                    href="https://codigopostal.com.ar/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >¿No sabes cual es tu codigo postal?</a
                  ></label
                >
              </div>
            </div>
            <div class="buttom flex justify-content-center mt-1">
              <button type="submit">
                <span>Comprar</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="description mt-1 mr-1 ml-1">
        <h2 class="font-weight-precio">Descripcion</h2>
        <div class="text">
          <p><%= producto.descripcion %></p>
        </div>
      </div>
      <% } %> <% }) %>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
