<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Product Market Place</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main class="color">
      <% productos.forEach(producto => { %> <% if (id == producto.id) { %>
      <div class="container">
        <div class="product-f flex flex-d-column text-center mt-3 ml-1 mr-1">
          <div class="flex w-100 justify-content-sp-ev mt-05">
            <h2 class="font-weight-precio"><%= producto.nombre %></h2>
            <div class="stars text-left flex align-center">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <div class="full-container">
            <div class="images none border-r-5">
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %> " class="w-50 border-r-10 img" />
              </div>
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %>" class="w-50 border-r-10 img" />
              </div>
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %>" class="w-50 border-r-10 img" />
              </div>
              <div class="flex align-center justify-content-center">
                <img src="<%= producto.img %>" class="w-50 border-r-10 img" />
              </div>
            </div>
            <div class="img-s mt-1 flex align-center justify-content-sp-ar">
              <i class="fa-solid fa-arrow-left arrow-size"></i>
              <img
                src="<%= producto.img %>"
                class="w-90 mb-1 border-r-5 img-product-product"
              />
              <i class="fa-solid fa-arrow-right arrow-size"></i>
            </div>
          </div>
        </div>
        <div class="container-dos">
          <div class="opciones">
            <div class="precio flex flex-d-column">
              <h3 class="w-90 font-weight-precio ml-1">
                $<%= producto.precio %>
              </h3>
              <p class="w-90 font-weight ml-1">En 12 cuotas de</p>
              <a href="#" class="w-90 text-decoration ml-1">
                <p class="medios-pago">Ver distintos medios de pago</p></a
              >
            </div>
            <div class="categoria none">
              <h2 class="font-weight-precio">Opciones:</h2>
              <div class="option-1">
                <label for="ram" class="color-label font-weight">RAM:</label>
                <select name="ram">
                  <option value="8gb">8gb</option>
                  <option value="16gb">16gb</option>
                  <option value="32gb">32gb</option>
                </select>
              </div>
              <div class="option-2">
                <label for="cpu" class="color-label font-weight"
                  >Procesador:</label
                >
                <select name="cpu">
                  <option value="i3">Intel i3</option>
                  <option value="i5">Intel i5</option>
                  <option value="i7">Intel i7</option>
                </select>
              </div>
              <div class="option-3">
                <label for="color" class="color-label font-weight"
                  >Color:</label
                >
                <select name="color">
                  <option value="gris">Gris</option>
                  <option value="blanca">Blanca</option>
                  <option value="negra">Negra</option>
                </select>
              </div>
            </div>
            <div class="ammount flex justify-content-center mt-1 mr-1 ml-1">
              <div
                class="flex justify-content-sp-ar w-90 mt-1 mb-1 select_product border-r-5 p-1"
              >
                <label for="">Cantidad</label>
                <select name="cantidad" class="select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>
            <div class="envio none">
              <h2 class="font-weight-precio">Envios</h2>
              <div class="cp">
                <h3 class="font-weight">Codigo Postal:</h3>
                <input type="text" id="cp" placeholder="Tu codigo postal..."
                required maxlength="4" " />
                <label class="size-label font-weight"
                  ><a
                    href="https://codigopostal.com.ar/"
                    target="_blank"
                    rel="noopener noreferrer"
                    >¿No sabes cual es tu codigo postal?</a
                  ></label
                >
              </div>
            </div>
            <div class="flex justify-content-center">
              <button type="submit" class="buttom w-90 p-1 border-r-5 w-50">
                <span>Comprar</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="description mt-1 mr-1 ml-1 mb-1">
        <div class="ml-1">
          <h2 class="font-weight-precio">Descripcion</h2>
        </div>
        <div class="font-weight ml-05">
          <p><%= producto.descripcion %></p>
        </div>
      </div>
      <% } %> <% }) %>
    </main>
    <%- include("./partials/footer") %>
  </body>
</html>
