<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main class="contenedor-producto box-shadow">
      <div class="contenedor-img-producto">
        <div class="imagen-producto">
          <img src="<%= product.image %>" alt="game" class="maxw image" />
          <div class="flex gap margin-t">
            <article>
              <img src="<%= product.image %>" alt="game" class="maxw bor-10" />
            </article>
            <article>
              <img src="<%= product.image %>" alt="game" class="maxw bor-10" />
            </article>
            <article>
              <img src="<%= product.image %>" alt="game" class="maxw bor-10" />
            </article>
            <article>
              <img src="<%= product.image %>" alt="game" class="maxw bor-10" />
            </article>
          </div>
        </div>
      </div>
      <div class="contenedor-texto-boton">
        <div class="contenedor-txt-producto">
          <div class="flex justify-c contenedor-titulo-precio">
            <h2 class="titulo-producto"><%= product.name %></h2>
            <h2 class="precio-producto">$<%= product.price %></h2>
          </div>
          <!-- Titulo y Calificacion -->
          <div class="contenedor-estrellas">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star-half-stroke"></i>
          </div>
          <!-- Descripcion -->
          <div class="contenedor-descripcion">
            <h2>Descripcion</h2>
            <p><%= product.description %></p>
          </div>
          <!-- Requisitos -->
          <div class="image contenedor-requisitos">
            <h2 class="margin-b">Requisitos</h2>
            <article class="text-align-c requisitos-contenedor">
              <div class="padding-1">
                <h3>Minimos</h3>
                <ul class="list-none">
                  <li>Procesador: i3</li>
                  <li>Ram: 4gb</li>
                  <li>Almacenamiento: 20gb</li>
                  <li>Sistema Operativo: Windows 10</li>
                </ul>
              </div>
              <hr />
              <div class="padding-1">
                <h3>Recomendados</h3>
                <ul class="list-none">
                  <li>Procesador: i5</li>
                  <li>Ram: 8gb</li>
                  <li>Almacenamiento: 20gb</li>
                  <li>Sistema Operativo: Windows 10</li>
                </ul>
              </div>
            </article>
          </div>
        </div>
        <div class="contenedor-boton">
          <div class="contenedor-boton-carrito">
            <form action="/cart/add/<%= product.id %>" method="POST">
              <div class="flex justify-c-c">
                <button type="submit" class="box-shadow w-90 formulario__btn">
                  Agregar al Carrito
                </button>
              </div>
            </form>
            <form action="/cart/decrease/<%= product.id %>" method="POST">
              <div class="flex justify-c-c">
                <button type="submit" class="box-shadow w-90 formulario__btn">
                  Decrementar
                </button>
              </div>
            </form>
            <form
              action="/cart/clearProduct/<%= product.id %>?_method=delete"
              method="POST"
            >
              <div class="flex justify-c-c">
                <button type="submit" class="box-shadow w-90 formulario__btn">
                  Eliminar producto
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/cart.js"></script>
  </body>
</html>
