<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <main>
      <section class="container-section justify-c-c text-align-c margin-1 padding-1 box-shadow image">
          <h1 class="formulario__label texto-h2-color">Perfil</h1>
          <img src="<%= user.avatar %>" class="w-22"/>
          <h2 class="formulario__label texto-h2-color texto-h2">Nombre: <%= user.name %></h2>
          <h2 class="formulario__label texto-h2-color texto-h2 padding-b">Email: <%= user.email %></h2>
          <form action="/user/logout" method="get">
            <button type="submit" class="formulario__btn">Cerrar Sesion</button>
          </form>
      </section>
      
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
